<!--
    Title: Exercise 7.3 - Form Validation
    Instructor: Professor Krasso
    Author: Brooke Taylor
    Date: 7/7/23
    Revision: 5/5/25

    Description: Base Layout Component.
-->


<div class="container">

<!--
Replace the prebuilt HTML with an Angular toolbar, main div container
and another router-outlet
-->
  <mat-toolbar color="primary" class="navbar" role="navigation">

    <a routerLink="/" class="logo-link">
      <img src="./assets/gpa-calculator-app.png" height="60" alt="Logo" />
    </a>

    <span class="spacer"></span>

    <button mat-button routerLink="/">Home</button>
    <button mat-button (click)="signOut()">Sign Out</button>

  </mat-toolbar>


  <h1>{{ assignment }}</h1>

  <router-outlet></router-outlet>

</div>
