<!--
    Title: Exercise 7.3 - Form Validation
    Arthur: Professor Krasso
    Date: 07/07/2023
    Description: Base-Layout component
-->

<!--
  Replace the prebuilt HTML with an Angular toolbar, main div container
  and another router-outlet
-->
<div color="primary">

  <div>

    <div class="logo">
      <img src="./assets/gpa-calculator-app.png" height="80" alt="Logo" />
    </div>

    <div style="width: 80%;">

      <div fxLayout="row wrap" fxLayoutAlign="end start">
        <button mat-button routerLink="/">Home</button>

        <button mat-button (click)="signOut()">Sign Out</button>
      </div>

    </div>

  </div>

</div>

<br />

<!-- Flex layout row with a mat-card, mat-card-title, and mat-card-content  -->
<div fxLayout="row wrap">

  <div fxFlex>

    <div class="main-container">

      <div>{{ assignment }}</div>

      <br /><br />

      <div>
        <router-outlet></router-outlet>
      </div>

    </div>

  </div>

</div>
