/**
    Title: Exercise 7.3 Form Validation
    Instructor: Professor Krasso
    Author: Brooke Taylor
    Date: 7/7/23
    Revision: 5/6/25

    Description: Base Layout Style Sheet
*/

.container {
  background-color: #f0f3f4;
  min-height: 100vh;
}

.logo {
  margin-top: 5px;
}

.main-container {
  padding-top: 25px;
  width: 80%;
  margin: 0 auto;
}

.spacer {
  flex: 1 1 auto;
}

h1 {
  text-align: center;
  margin: 1em;
}
