/**
    Title: Exercise 7.2 Reactive Forms
    Instructor: Professor Krasso
    Author: Brooke Taylor
    Date: 7/4/23
    Revision: 5/4/25

    Description: GPA Calculator App Style Sheet
*/

* {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
