/**
    Title: Exercise 7.3 Form Validation
    Instructor: Professor Krasso
    Author: Brooke Taylor
    Revision: 5/6/25

    Description: Home Style Sheet
*/

.card {
  background-color: #ffffff;
  padding: 5%;
  box-shadow:
  0 0 4px rgba(0,0,0,0.2),
  4px 8px 8px rgba(0,0,0,0.2);

}


.card:hover {
  box-shadow: 4px 8px 8px rgba(0,0,0,0.4);
}

.flex-center, .flex-left, .flex-right {
  display: flex;
  justify-content: space-evenly;
}

.flex-container {
  display: flex;
  flex-direction: column;

}

@media (min-width: 456px) {
  .flex-container {
    flex-direction: row;
    justify-content: space-evenly;
  }

}


