/**
    Title: Exercise 7.3 Form Validation
    Instructor: Professor Krasso
    Author: Brooke Taylor
    Revision: 5/7/25

    Description: Home Style Sheet
*/

.card {
  background-color: #ffffff;
  padding: 15px;
  box-shadow:
  0 0 4px rgba(0,0,0,0.2),
  4px 8px 8px rgba(0,0,0,0.2);

  margin-bottom: 15px;

  min-width: 244px;
  max-width: 244px;

}


.card:hover {
  box-shadow: 4px 8px 8px rgba(0,0,0,0.4);
}

form {
  display: flex;
  flex-direction: column;
}

.flex-center, .flex-left, .flex-right {
  display: flex;
  justify-content: space-evenly;
}

.flex-container {
  display: flex;
  flex-direction: column;

}

@media (min-width: 425px) {
  .card {
    min-width: 350px;
    max-width: 350px;
  }
}

@media (min-width: 630px) {
  .card {
    min-width: 425px;
    max-width: 425px;
  }
}

@media (min-width: 777px) {
  .flex-container {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .card {
    min-width: 350px;
    max-width: 350px;
  }

}

@media (min-width: 992px) {
  .flex-container {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .card {
    min-width: 450px;
    max-width: 450px;
  }

}

@media (min-width: 1200px) {
  .flex-container {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .card {
    min-width: 550px;
    max-width: 550px;
  }

}



.summary {
  max-height: 160px;
  overflow-y: auto;
  padding-right: 10px;
}
.summary::-webkit-scrollbar {
  width: 8px;
}

.summary::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.2);
  border-radius: 4px;
}

