/**
    Title: Exercise 7.3 Form Validation
    Instructor: Professor Krasso
    Author: Brooke Taylor
    Revision: 5/7/25

    Description: Grade Summary Style Sheet
*/

.transcript-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.remove-btn {
  background: none;
  border: none;
  color: red;
  font-size: 18px;
  cursor: pointer;
}

.remove-btn:hover {
  color: darkred;
}
